.banner-image{
	 padding-top: 75px;  padding-bottom: 75px;    text-align: center;    color: #f8f8f8;    background: url(image/img.png) no-repeat center center;  
	 background-size: cover; display:block;
}
.footer{padding: 10px 0;  
  background-color: #101010;   
 color:#9d9d9d;   
 width: 100%; 
position:fixed;
 bottom:0; 
margin-top:30%;
}

.banner-content{
	 position: relative;    
	 padding-top: 6%;   
	 padding-bottom: 6%;
	 margin-top: 12%; 
	 margin-bottom: 12%;    
	 background-color: rgba(0, 0, 0, 0.7);   
	 max-width: 660px; 
	
}
body{
	background-color:rgba(220,220,220,0.4);
}
a{
 text-decoration:none;	
	
}
   .block{
position: relative;   
padding-top: 6%; 
padding-bottom: 6%; 
margin-top: 12%;  
margin-bottom: 12%;    
max-width: 660px;
}

.but{
	margin-right:45%;
	margin-left:0%;
	margin-top:25%;
}
.add{
	position:fixed;
	bottom:60;
	left:95%;
	z-index:10;

}
.margin{
	margin-bottom:20%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 300s;
}

@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}